/* body {
  margin: 20px;
} */

.bg-image {
  background-image: url("http://www.wallpapermania.eu/images/lthumbs/2013-03/4669_Red-poker-chips-in-the-spotlight-HD-wallpaper.jpg");
}

#cardField {
  padding: 25px;
}

.game-info {
  padding: 25px;
  text-align: left;
}

.cards {
  display: inline-block;
  margin: 3px;
  width: 100px;
}

/* How card looks when helds */
.hold {
  border: 5px solid red;
  border-radius: 10px;
}

h3 {
  color: white;
  font-size: 20px;
}

#bank {
  color: white;
  font-size: 20px;
}

#winner {
  color: orangered;
  font-size: 25px;
}

.btn-primary {
  background-color: red;
  border: 2px solid white;
  padding: 10px 10px;
}
.btn-primary:hover {
  background-color: snow;
  color: darkred;
}