/* body {
  margin: 20px;
} */

.bg-image {
  background-image: url("http://www.wallpapermania.eu/images/lthumbs/2013-03/4669_Red-poker-chips-in-the-spotlight-HD-wallpaper.jpg");
}

#cardField {
  padding: 25px;
}

.game-info {
  padding: 25px;
  text-align: left;
}

.cards {
  display: inline-block;
  margin: 3px;
  width: 100px;
}

/* How card looks when helds */
.hold {
  border: 3px solid green;
  border-radius: 5px;
}

