/* body {
  margin: 20px;
} */

.bg-image {
  background-image: url("http://media.istockphoto.com/photos/poker-chips-picture-id486872194?k=6&m=486872194&s=612x612&w=0&h=A-tOp2P_dDgEEAOxeAzoLRMo18WLAJfWc0vKDue_tgc=");
}

#cardField {
  padding: 25px;
}

.game-info {
  padding: 25px;
  text-align: left;
}

.cards {
  display: inline-block;
  margin: 5px;
  width: 125px;  
}

/* How card looks when helds */
.hold {
  border: 5px solid red;
  border-radius: 10px;
}

h3 {
  color: white;
  font-size: 20px;
}

.row {
  padding-top: 100px;
  
}

#bank {
  color: white;
  font-size: 20px;
}

#winner {
  color: orangered;
  font-size: 25px;
}

/* .sideNote {
  color: whtie;
  font-size: 15px;
} */

.btn-primary {
  background-color: red;
  border: 2px solid white;
  padding: 10px 10px;
}
.btn-primary:hover {
  background-color: snow;
  color: darkred;
}